<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ccpe001.familywallet">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ManifestResource"
        tools:replace="android:theme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/fb_APP_ID"/>
        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name"/>
        <activity
            android:name=".CustomPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.CUSTOMPINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".budget.BudgetHandling"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.BudgetHandling" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".budget.accDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.budget.accDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".budget.budgetUpdate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.budget.budgetUpdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".budget.budgetTrack"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.budget.budgetTrack" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".budget.forecast"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.budget.forecast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ccpe001.familywallet.DASHBOARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.SignUp"
            android:parentActivityName=".admin.SignIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.GetInfo"
            android:parentActivityName=".admin.SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.GETINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.SignIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.SIGNIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".admin.Forgot"
                android:parentActivityName=".admin.SignIn"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="ccpe001.familywallet.FORGOT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".IntoductionPage"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ccpe001.familywallet.INTRODUCTIONPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".transaction.add_transaction"
            android:screenOrientation="portrait"
            android:parentActivityName=".Dashboard">
            <intent-filter>
                <action android:name="ccpe001.familywallet.add_transaction" />

                <category android:name="android.intent.category.DEFAULT" />
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ccpe001.familywallet.DASHBOARD"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".transaction.transaction_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".transaction.add_transaction">

            <intent-filter>
                <action android:name="ccpe001.familywallet.transaction.transaction_category" />

                <category android:name="android.intent.category.DEFAULT" />
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ccpe001.familywallet.transaction.add_transaction"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwIsPHS1-FJer8-92cEOyZ9VERehechRg" />

    </application>

</manifest>